* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background: url("https://cdn.discordapp.com/attachments/838877542269845525/905835592703676416/backupPreview.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.load {
    position: absolute;
    background-color: rgb(190, 100, 115);
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.load .loader-container {
    font-size: 80px;
    color: pink;
    animation: Loader 1s linear infinite;
}

@keyframes Loader {
    to {
        transform: rotateZ(360deg);
    }

    0%,100% {
        font-size: 80px;
    }

    50% {
        font-size: 50px;
    }
}

.card {
    position: relative;
    width: 350px;
    height: 300px;
    display: flex;
    flex-direction: column;
}

.card .cardbg::before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgba(202, 16, 16, 0.3);
    filter: blur(8px);
}

.card .cardheader {
    padding: 20px 0 10px 35px;
    font-size: 3pc;
}

.card .cardheader c {
    animation: c 1s linear infinite;
}

.card .cardheader x {
    animation: x 1.2s linear infinite;
}

.card .cardheader v {
    animation: v 1.4s linear infinite;
}

.card .cardheader m {
    animation: m 1.6s linear infinite;
}

@keyframes m {
    0% {
        color: pink;
    }

    100% {
        color: #184e77;
    }
}

@keyframes v {
    0% {
        color: pink;
    }
    
    100% {
        color: #184e77;
    }
}

@keyframes x {
    0% {
        color: pink;
    }

    100% {
        color: #184e77;
    }
}

@keyframes c {
    0% {
        color: pink;
    }

    100% {
        color: #184e77;
    }
}

.card .content {
    color: pink;
    font-size: 1.6pc;
    padding: 20px 30px 10px 30px;
    text-align: justify;
}

.card .links {
    position: absolute;
    bottom: 0;
    color: pink;
    font-size: 40px;
    display: flex;
    justify-content: center;
}

.card .links span {
    margin: 20px;
    cursor: pointer;
    transition: .5s;
    position: relative;
    text-align: center;
}

.card .links span:hover {
    transform: scale(1.2);
    color: rgb(243, 241, 241);
}

.card .links span:hover .fa-discord::after {
    content: 'Discord';
    position: absolute;
    font-size: 1.2pc;
    background-color: rgba(202, 16, 16, 0.1);
    border-radius: 2px;
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
}

.card .links span:hover .fa-robot::after {
    content: 'EGUNOM';
    position: absolute;
    font-size: 1.2pc;
    background-color: rgba(202, 16, 16, 0.1);
    border-radius: 2px;
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
}

.card .links span:hover .fa-envelope::after {
    content: 'Gmail';
    position: absolute;
    font-size: 1.2pc;
    background-color: rgba(202, 16, 16, 0.1);
    border-radius: 2px;
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
}

.card .links span:hover .fa-github::after {
    content: 'Github';
    position: absolute;
    font-size: 1.2pc;
    background-color: rgba(202, 16, 16, 0.1);
    border-radius: 2px;
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
}
