* {
    padding: 0;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #03071e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.cardHD {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.cardHD::after {
    content: '';
    position: absolute;
    width: 200px;
    height: 480px;
    background: linear-gradient(180deg , #ffba08, #d00000);
    filter: blur(6px);
    box-shadow: 0 -20px 19px #ffba08;
    box-shadow: 0 20px 10px #d00000;
    border-radius: 10px;
    transform: skewY(20deg);
    animation: cardafterskew 4s infinite;
    z-index: -1;
}

@keyframes cardafterskew {
    0%,100% {
        transform: skewY(20deg);
    }

    50% {
        transform: skewY(-20deg);
    }
}

.cardHD .card {
    position: relative;
    height: 400px;
    width: 350px;
    border-radius: 3px;
    z-index: 20;
}

.cardHD .card span {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(95, 90, 97, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(30px);
    z-index: 1;
}

.cardHD .card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgb(177, 171, 171);
    animation: cardbefore 9s infinite;
}

@keyframes cardbefore {
    0%,100% {
        top: 0;
        left: 0;
    }

    25% {
        top: 80%;
        left: 0;
    }
    
    50% {
        top: 80%;
        left: 70%;
    }

    75% {
        top: 0;
        left: 70%;
    }
}

.cardHD .card .content {
    position: absolute;
    color: white;
    z-index: 25;
}

.cardHD .card .content h1 {
    font-size: 40px;
    margin: 40px;
}

.cardHD .card .content p {
    font-size: 30px;
    margin: 20px;
}

.cardHD .card .content p u {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.cardHD .card .buttons {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardHD .card .buttons button {
    border: none;
    background-color: transparent;
    outline: none;
}

.cardHD .card .buttons i {
    font-size: 45px;
    color: rgb(201, 201, 201);
    cursor: pointer;
    margin: 0 10px 0 10px;
    transition: .2s;
    transform: scale(1);
}

.cardHD .card .buttons i:hover {
    color: white;
    transform: scale(1.1);
}

.cardHD .card .buttons i:active {
    color: wheat;
}

.cardHD .card .buttons button .fa-discord:hover::after {
    content: 'Discord Name';
    display: flex;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 15px;
    color: white;
    text-align: center;
    background-color: rgb(194, 48, 75);
    z-index: 2000;
}

.cardHD .card .buttons button:focus .fa-discord::after {
    content: 'Kopyalandı!';
    display: flex;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 15px;
    color: white;
    text-align: center;
    background-color: rgb(194, 48, 75);
    z-index: 2000;
}

.cardHD .card .buttons button .fa-robot:hover::after {
    content: 'EGUNOM';
    display: flex;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 15px;
    color: white;
    text-align: center;
    background-color: rgb(194, 48, 75);
    z-index: 2000;
}

.cardHD .card .buttons button:focus .fa-robot::after {
    content: 'Açıldı!';
    display: flex;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 15px;
    color: white;
    text-align: center;
    background-color: rgb(194, 48, 75);
    z-index: 2000;
}

.cardHD .card .buttons button:focus .fa-github::after {
    content: 'Açıldı!';
    display: flex;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 15px;
    color: white;
    text-align: center;
    background-color: rgb(194, 48, 75);
    z-index: 2000;
}

.cardHD .card .buttons button .fa-github:hover::after {
    content: 'Github';
    display: flex;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 15px;
    color: white;
    text-align: center;
    background-color: rgb(194, 48, 75);
    z-index: 2000;
}

.cardHD .card .buttons button .fa-at:hover::after {
    content: 'Gmail';
    display: flex;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 15px;
    color: white;
    text-align: center;
    background-color: rgb(194, 48, 75);
    z-index: 2000;
}
.cardHD .card .buttons button:focus .fa-at::after {
    content: 'Kopyalandı!';
    display: flex;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 15px;
    color: white;
    text-align: center;
    background-color: rgb(194, 48, 75);
    z-index: 2000;
}
