@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Oswald&display=swap');

:root {
    --right-Background: #d3d3d3;
    --left-Background: red;
    --left-WriteColor: #d3d3d3;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Calligraffitti', cursive;
    font-family: 'Oswald', sans-serif;
    transition: .4s linear;
}

.loader {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--right-Background);
    z-index: 20;
}

.loader.loaded {
    opacity: 0;
    z-index: -1;
}

.loader .logo {
    position: relative;
    width: 6pc;
    height: 6pc;
    border-radius: 50%;
}

.loader .logo::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border: 5px solid transparent;
    border-top-color: black;
    border-radius: 50%;
    animation: logoWheel 2s ease-in-out infinite;
}

@keyframes logoWheel {
    0% {
        transform: translate(-50%, -50%) rotate(0);
    }

    50% {
        transform: translate(-50%, -50%) rotate(180deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.loader .logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    display: flex;
    flex-direction: row;
}

.content .left {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex: 35%;
    height: 100vh;
    background-image: url('https://cdn.discordapp.com/attachments/852651577721880586/1040280183359422574/20220515_174443.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--left-WriteColor);
    z-index: 2;
    overflow: hidden;
}

.content .left span {
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(50%);
    z-index: -1;
}

.content .left .options {
    margin-bottom: 1.3pc;
}


.content .left .options ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.content .left .options ul li i {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0 1pc 0 1pc;
    padding: 10px;
    font-size: 1.6em;
    cursor: pointer;
}

.content .left .options ul li .active {
    transform: scale(1.15) translateY(-5px);
    filter: drop-shadow(0 0 3px var(--left-WriteColor));
    border-bottom: 1px solid;
}

.content .left .options ul li i:hover {
    transform: scale(1.15) translateY(-5px);
    filter: drop-shadow(0 0 3px var(--left-WriteColor));
    border-bottom: 1px solid;
}

.content .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 65%;
    height: 100vh;
    width: 100%;
    background-color: var(--right-Background);
}

.content .right .rightcnt {
    display: flex;
    flex: 90%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 3pc;
    text-align: justify;
    font-size: 1.12pc;
}

.signature {
    position: relative;
    flex: 0;
    width: 100%;
    background-color: black;
}

.signature .lg {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-image: url('https://cdn.discordapp.com/attachments/852651577721880586/1040303538317824171/HqkoLogoG.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    width: 6pc;
    height: 6pc;
}

.signature .sg1 {
    position: absolute;
    bottom: 100%;
    width: 100%;
    height: 4.6pc;
    z-index: 2;
    background-image: url('https://cdn.discordapp.com/attachments/852651577721880586/1040291303591784488/waveC.png');
    background-size: 1000px 100px;
    animation: sg1 8s linear infinite;
}

.signature .sg2 {
    position: absolute;
    bottom: 100%;
    width: 100%;
    height: 4.6pc;
    opacity: .7;
    z-index: 1;
    background-image: url('https://cdn.discordapp.com/attachments/852651577721880586/1040298345836589056/waveCC.png');
    background-size: 1000px 100px;
    animation: sg2 8s linear infinite;
}

@keyframes sg2 {
    0% {
        background-position-x: 1000px;
    }

    100% {
        background-position-x: 0px;
    }
}

@keyframes sg1 {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 1000px;
    }
}

/* MOBİLE */

@media only screen and (max-width: 1000px) {
    .content {
        flex-direction: column;
        height: 100vh;
    }

    .content .left {
        flex-direction: row;
        flex: 10%;
    }

    .content .left .options {
        margin-bottom: 0.5pc;
    }

    .content .right {
        flex-direction: column;
        flex: 90%;
        height: 100vh;
    }

    .content .right .rightcnt {
        height: 100%;
    }
}
