@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Oswald&display=swap');

:root {
    --right-Background: #d3d3d3;
    --left-WriteColor: #bbbaba;
    --s: #d10505;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Calligraffitti', cursive;
    font-family: 'Oswald', sans-serif;
    transition: .4s linear;
    user-select: none;
}

body {
    height: 100dvh;
}

.loader {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--right-Background);
    z-index: 20;
}

.loader.loaded {
    opacity: 0;
    z-index: -1;
}

.loader .logo {
    position: relative;
    width: 6pc;
    height: 6pc;
    border-radius: 50%;
}

.loader .logo::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border: 5px solid transparent;
    border-top-color: black;
    border-radius: 50%;
    animation: logoWheel 2s ease-in-out infinite;
}

@keyframes logoWheel {
    0% {
        transform: translate(-50%, -50%) rotate(0);
    }

    50% {
        transform: translate(-50%, -50%) rotate(180deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }

}

.loader .logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.content .left {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex: 35%;
    height: 100%;
    color: var(--left-WriteColor);
    z-index: 2;
}

.content .left span {
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(60%) blur(3pc);
    z-index: 2;
}

.content .left span.loaded {
    backdrop-filter: brightness(60%) blur(0);
}

.content .left .viewer {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1pc;
    border-radius: 2pc;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 2;
}

.content .left .images {
    position: absolute;
    width: 100%;
    height: 100%;
}

.content .left .images img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content .left .options {
    margin-bottom: 1.3pc;
    z-index: 4;
}

.content .left .options ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.content .left .options ul li i {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0 1pc 0 1pc;
    padding: 10px;
    font-size: 1.6em;
    cursor: pointer;
}

.content .left .options ul li i.active {
    transform: scale(1.15) translateY(-5px);
    filter: drop-shadow(0 0 3px var(--left-WriteColor));
    border-bottom: 1px solid;
}

.content .left .options ul li i:hover {
    transform: scale(1.15) translateY(-5px);
    filter: drop-shadow(0 0 3px var(--left-WriteColor));
}

.content .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 65%;
    height: 100vh;
    width: 100%;
    background-color: var(--right-Background);
    color: #232323;
}

.content .right .rightcnt {
    display: flex;
    flex: 90%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 3pc 3pc 3pc;
    text-align: justify;
    font-size: 1.12pc;
}

.content .right .rightcnt h2 {
    margin-bottom: 10px;
    border-radius: .5pc;
    padding: .5pc;
}

.content .right .rightcnt h2.load {
    color: grey;
    background-color: grey;
}

.content .right .rightcnt p {
    border-radius: .5pc;
    padding: .2pc;
}

.content .right .rightcnt p.load {
    color: grey;
    background-color: grey;
}

.content .right .rightcnt p.load a {
    color: grey;
    background-color: grey;
}

.content .right .rightcnt p img {
    display: inline-block;
    width: 12pc;
    height: 8pc;
    padding: 1pc;
    background-color: #bbbaba;
    object-fit: contain;
    mix-blend-mode:luminosity;
    cursor: pointer;
    border-radius: .5pc;
    filter: blur(0);
}

.content .right .rightcnt p img:hover {
    transform: scale(1.1);
    mix-blend-mode: normal;
}

.content .right .rightcnt p.load img { 
    filter: blur(.2pc);
}
 
.signature {
    position: relative;
    flex: 0;
    width: 100%;
    background-color: black;
}

.signature .lg {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    width: 6pc;
    height: 6pc;
    cursor: pointer;
}

.signature .lg img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.signature .sg1 {
    position: absolute;
    bottom: 100%;
    width: 100%;
    height: 4.6pc;
    z-index: 2;
    background-image: url('./HqkoPictures/waveBlack.png');
    background-size: 1000px 100px;
    animation: sg1 10s linear infinite;
}

.signature .sg2 {
    position: absolute;
    bottom: 100%;
    width: 100%;
    height: 4.6pc;
    opacity: .7;
    z-index: 1;
    background-image: url('./HqkoPictures/waveDarkGreen.png');
    background-size: 1000px 100px;
    animation: sg2 13s linear infinite;
}

@keyframes sg2 {
    0% {
        background-position-x: 1000px;
    }

    100% {
        background-position-x: 0px;
    }
}

@keyframes sg1 {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 1000px;
    }
}

/* MOBİLE */

@media only screen and (max-width: 1000px) {
    .content {
        flex-direction: column;
    }

    .content .left {
        flex-direction: row;
        flex: 10%;
        background-color: yellow;
    }

    .content .left .viewer {
        display: none;
    }

    .content .right {
        flex-direction: column;
        flex: 90%;
    }

    .content .right .rightcnt {
        height: 100%;
    }
}